Flask
pandas
flask-caching
python-docx
PyPDF2
pytesseract
pdf2image
spacy
word2number
scikit-learn
waitress
flask-cors
flask-session
python-dotenv
rapidfuzz
pypdf
pandas
openpyxl
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.6.0/en_core_web_trf-3.6.0.tar.gz

